@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url(~fnt_core/Mont/Mont-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url(~fnt_core/Mont/Mont-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url(~fnt_core/Mont/Mont-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url(~fnt_core/Mont/Mont-Black.woff2) format("woff2");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url(~fnt_core/Mont/Mont-Heavy.woff2) format("woff2");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(~fnt_core/Gilroy/Gilroy-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(~fnt_core/Gilroy/Gilroy-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}
