{% extends "core/chunk-panel.html" %}
{% load core_filters core_tags %}

{% block panel_content %}

    <div class="chunk-panel__block">
        <div class="chunk-panel__elem-title">
            Ширина логотипа
        </div>
        <div class="chunk-panel__chunk">
            {% chunk 'footer.logo_width' %}
        </div>
    </div>

    <div class="chunk-panel__block">
        <div class="chunk-panel__elem-title">
            Высота логотипа
        </div>
        <div class="chunk-panel__chunk">
            {% chunk 'footer.logo_height' %}
        </div>
    </div>

    <div class="chunk-panel__block">
        {{ elist_footer_licenses.button }}
    </div>
    <div class="chunk-panel__block">
        {{ elist_footer_payment.button }}
    </div>
{% endblock panel_content %}
