#snow {

  &.snow_hide {
    display: none;
  }

  > * {
    max-width: 56px;
    width: 56px;
    height: 56px;
    pointer-events: none;
    z-index: 100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.snowflake-button {
  box-shadow: 0 5px 18px rgba(0, 0, 0, .09);
  transition: all .2s ease-out;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 44px;
  bottom: 195px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  visibility: hidden;
  opacity: 0;
  z-index: 100;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.snowflake-button_stop {
    background-color: transparent;
  }
}

@include laptop {

  .snowflake-button {
    right: 22px;
    bottom: 220px;
  }
}

@include mobile {

  .snowflake-button {
    right: auto;
    left: 19px;
    bottom: 110px;
  }
}
