{% extends "core/chunk-panel.html" %}
{% load core_filters core_tags %}

{% block panel_content %}

    <div class="chunk-panel__block">
        {{ elist_menu.button }}
    </div>

    <div class="chunk-panel__block">
        {{ elist_menu_success.button }}
    </div>

    <div class="chunk-panel__block">
        <div class="chunk-panel__elem-title">
            Ширина логотипа
        </div>
        <div class="chunk-panel__chunk">
            {% chunk 'header.logo_width' %}
        </div>
    </div>

    <div class="chunk-panel__block">
        <div class="chunk-panel__elem-title">
            Высота логотипа
        </div>
        <div class="chunk-panel__chunk">
            {% chunk 'header.logo_height' %}
        </div>
    </div>

    {% if h_logo_description == 'false' %}
        <div class="chunk-panel__block">
            <div class="chunk-panel__elem-title">
                Описание логотипа
            </div>
            <div class="chunk-panel__chunk">
                {% chunk 'about.logo_description' %}
            </div>
        </div>
    {% endif %}

    {% if h_logo_description_mobile == 'false' %}
        <div class="chunk-panel__block">
            <div class="chunk-panel__elem-title">
                Описание логотипа (моб версия)
            </div>
            <div class="chunk-panel__chunk">
                {% chunk 'about.logo_description' %}
            </div>
        </div>
    {% endif %}

    {% if fs_subtitle == 'false' %}
        <div class="chunk-panel__block">
            <div class="chunk-panel__elem-title">
                Подзаголовок
            </div>
            <div class="chunk-panel__chunk">
                {% chunk 'first_screen.subtitle' %}
            </div>
        </div>
    {% endif %}

    <div class="chunk-panel__block">
        <div class="chunk-panel__elem-title">
            Текст тултипа
        </div>
        <div class="chunk-panel__chunk">
            {% chunk 'first_screen.tooltip' %}
        </div>
    </div>

    {% if fs_button_info == 'false' %}
        <div class="chunk-panel__block">
            <div class="chunk-panel__elem-title">
                Информация над кнопкой
            </div>
            <div class="chunk-panel__chunk">
                {% chunk 'first_screen.button_info' %}
            </div>
        </div>
    {% endif %}

    <div class="chunk-panel__block">
        <div class="chunk-panel__elem-title">
            Информация о рассрочке
        </div>
        <div class="chunk-panel__chunk">
            {% chunk 'first_screen.installment' %}
        </div>
    </div>

    <div class="chunk-panel__block">
        <div class="chunk-panel__elem-title">
            Тип цены (surgical_implant, surgical_allon4, default )
        </div>
        <div class="chunk-panel__chunk">
            {% chunk 'first_screen.type' %}
        </div>
    </div>

{% endblock panel_content %}
