{% load core_tags core_filters %}

{% elist 'prices_steps' as e_prices_steps %}
{% elist 'm_price_list' as e_price_list %}
{% elist 'm_price_price' as e_price_price %}
{% elist 'gift_list' as e_gift_list %}

{% chunk 'modal.price.display' raw=True as price_bottom  %}

<div class="modal modal-price modal-style" id="modal-price{% if short %}-short{% endif %}">
    <button title="Close (Esc)" type="button" class="mfp-close"></button>
    <div class="modal__wrapper">
        {% if not short %}
            <div class="mp__top">
                <div class="mp__title">
                    {% chunk 'modal.price.title' %}
                </div>
                <div class="mp__subtitle">
                    {% chunk 'modal.price.subtitle' %}
                </div>
                <div class="mp__list-title">
                    {% chunk 'modal.price.list_title' %}
                </div>
                {% if e_price_list.instance.list %}
                    {% if is_content_manager %}
                        <div class="elist-child-button">
                            {{ e_price_list.button }}
                        </div>
                    {% endif %}
                    <div class="mp__top-items">
                        {% for id, item in e_price_list.instance.list.items %}
                            <div class="mp__top-item">
                                {% if item.image %}
                                    <div class="mp__top-item-image">
                                        {% img_tag item.image is_elist=True width=290 height=178 alt="Изображение" %}
                                        {% if item.icon %}
                                            <div class="mp__top-item-icon">
                                                {% img_tag item.icon is_elist=True width=42 height=29 alt="Иконка" %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="mp__top-item-content">
                                    {% if item.title %}
                                        <div class="mp__top-item-title">
                                            {{ item.title|safe }}
                                        </div>
                                    {% endif %}
                                    {% if item.text %}
                                        <div class="mp__top-item-text">
                                            {{ item.text|safe }}
                                        </div>
                                    {% endif %}
                                </div>
                                {% if  item.percent %}
                                    <div class="mp__top-item-percent">
                                        {{ item.percent|safe }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if price_bottom != 'false' %}
            <div class="mp__bottom">
                <div class="mp__bottom-title">
                    {% chunk 'modal.price.prices_title' %}
                </div>
                {% if e_gift_list.instance.list %}
                    <div class="mp__bottom-gift-wrapper">
                        {% if is_content_manager %}
                            <div class="elist-child-button">
                                {{ e_gift_list.button }}
                            </div>
                        {% endif %}
                        <div class="mp__bottom-gifts">
                            {% for gift_id, gift in e_gift_list.instance.list.items %}
                                {% if gift.m_modal_price == 'true' %}
                                    <div class="mp__bottom-gift">
                                        {% if gift.image %}
                                            <div class="mp__bottom-gift-image">
                                                {% img_tag gift.image is_elist=True width=67 height=63 alt="Подарок" %}
                                            </div>
                                        {% endif %}
                                        {% if gift.text %}
                                            <div class="mp__bottom-gift-text">
                                                {{ gift.text|safe }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mp__bottom-gift-note">
                            {% chunk 'modal.price.gift_text' %}
                        </div>
                    </div>
                {% endif %}
                <div class="mp__bottom-prices-wrapper">
                    <div class="mp__bottom-prices-icon">
                        {% img_tag 'm-modal-price-flag.webp' width=56 height=38 alt="Флаг" %}
                    </div>
                    <div class="mp__bottom-prices-title">
                        {% chunk 'modal.price.content_title' %}
                    </div>
                    <div class="mp__bottom-prices-subtitle">
                        {% chunk 'modal.price.content_subtitle' %}
                    </div>
                    {% if e_price_price.instance.list %}
                        {% if is_content_manager %}
                            <div class="elist-child-button">
                                {{ e_price_price.button }}
                            </div>
                        {% endif %}
                        <div class="mp__bottom-items">
                            {% for id, item in e_price_price.instance.list.items %}
                                <div class="mp__bottom-item">
                                    {% if item.image %}
                                        <div class="mp__bottom-item-image">
                                            {% img_tag item.image is_elist=True width=item.width height=item.height alt="Изображение" %}
                                        </div>
                                    {% endif %}
                                    {% if e_prices_steps.instance.list %}
                                        {% for p_id, price in e_prices_steps.instance.list.items %}
                                            {% if price.id|to_number == item.price_id|to_number %}
                                                <div class="mp__bottom-item-content" data-parent-id="{{ item.id }}">
                                                    {% if price.title %}
                                                        <div class="mp__bottom-item-title">
                                                            {{ price.title|safe }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="mp__bottom-item-prices">
                                                        {% if price.price_old %}
                                                            <div class="mp__bottom-item-old nobr throughline">
                                                                {{ price.price_old|safe }}
                                                            </div>
                                                        {% endif %}
                                                        {% if price.price %}
                                                            <div class="mp__bottom-item-new nobr">
                                                                {{ price.price|safe }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="mp__bottom-prices-count-wrapper">
                        <div class="mp__bottom-prices-count">
                            {% chunk 'modal.price.content_count' %}
                        </div>
                        <div class="mp__bottom-prices-offer">
                            {% chunk 'modal.price.content_offer' %}
                        </div>
                    </div>
                </div>
                {% with form_class='mp__form' button='modal.price.button' %}
                    {% include 'common/modules/m-forms/allsmiles_impl_redesign__blank__sinergium__ru/form.html' with form_class=form_class button=button %}
                {% endwith %}
            </div>
        {% endif %}
        <button title="Close (Esc)" type="button" class="mfp-close mfp-close_bottom">
            Вернуться на главную
        </button>
    </div>
    {% if is_content_manager %}
        {% include "common/blocks/chunk-panel/allsmiles_impl_redesign__blank__sinergium__ru/m-modals/modal-price/chunk-panel.html" %}
    {% endif %}
</div>
